*{
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  /*border: 1px solid pink;*/

}

h1, h2, h3, h4, h5, h6, a, li {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-family: 'EB Garamond', serif;
}

ul {
  padding-top: 30%;
  padding-bottom: 5%;
  color: whitesmoke;
  font-size: 2rem;
}

.main {
  background-image: url('../images/homepage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.text {
  /*background-color: whitesmoke;*/
  text-align: center;
  justify-content: center;
  padding-top: 10%;
}

button {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  padding: 3%;
}

footer {
  background-color: cadetblue;
}
